BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: AfterColon
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
PointerAlignment: Right
SpaceAfterTemplateKeyword: 'true'
TabWidth: '4'
UseTab: Always